html, body, #container {
    height: 100%;
    width:100%;
}

#GameArea {
    height: 40%;
    width: 95%;
    float:left;
    border: 2px solid black;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

#ConsoleArea {
    height: 40%;
    width:95%;
    float:left;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.ConsolePane {
    border: 2px solid black;
    width:50%;
    float:left;
    height: 100%;
}


#SidePanel {
    width:2%;
    height:100%;
    float:left;
    background-color: lightgray;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;

}

#SidePanel:hover {
    width:10%;
}

#SidePanel:hover + #GameArea  {
    width:85%;
}

#SidePanel:hover ~ #ConsoleArea {
    width: 85%;
}




